# Databases and other junk
*.log
**/cache
*.status
*.sql
*.pid
*.tdb
*.bak

# Machine specific configs/junk
pipewire/
cookie
pulse/
chromium/
discord/
Electron/
Slack/
dconf/
ibus/

# Secrets
api.json
.zcompdump
cli-history.txt


#####################################
# Important oddities of this config #
**/waybar/style.css

scripts/
dotfile.conf
#####################################
