# Databases and other junk
*.log
**/cache
*.status
*.sql
*.pid
*.tdb
*.bak
*.zcompdum*

# Machine specific configs/junk
pipewire/
cookie
pulse/
chromium/
discord/
Electron/
Slack/
dconf/
ibus/
packer_compiled.lua

# Secrets
api.json
.zcompdump
cli-history.txt
watched_videos.txt
instances.json

#####################################
# Important oddities of this config #
**/waybar/style.css

scripts/
dotfile.conf
*.link
#####################################

