* {
	font-size: 20px;
	font-family: "monospace", "Noto";
}

window#waybar {
	background: rgba(31, 42, 47, 0.65);
	color: #fdf6f3;
}

#mode {
	color: #aa8800
}

#idle_inhibitor,
#language,
#workspaces,
#clock,
#cpu,
#pulseaudio,
#memory,
#battery,
#disk,
#temperature,
#custom-ddc,
#tray {
	background: rgba(0,0,0,0);
}

#workspaces button {
	padding: 0 1px;
	color: #999999;
}

#workspaces button.focused {
	color: #ffffff;
	background: #2f2f2f;
}

#workspaces button:hover {
	padding: 0 1px;
	background: #ffffff;
	color: #000000;
}

#idle_inhibitor {
	color: #99F2D1;
}

#language {
	color: #2aff98;
}

#pulseaudio {
	color: #00f3b0;
}
#cpu {
	color: #00e1eb;
}
#memory {
	color: #00cbff;
}
#battery {
	color: #00b0ff;
}
#disk {
	color: #4EA6D9;
}
#temperature {
	color: #0091ff;	
}
#clock {
	margin: 0 0px;
	padding: 0 18px;
}
#language,
#idle_inhibitor,
#cpu,
#pulseaudio,
#memory,
#battery,
#disk,
#temperature {
	margin: 0px 14px;
	padding: 0 13px;
	box-shadow: 0px 10px 8px 0px;
}

#tray {
	padding: 0 15px;
}


.side2 * {
	font-size: 15px;
}
.side1 * {
	font-size: 18px;
}
